body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
button {
    background-color: #f96020;
    color: white;
    width: 250px;
    height: 50px; 
    font-size: 16px;
    font-weight: bold;
    border: 0;
}
button:hover {
    background-color: #1b242b;
}
header {
    background-image: url(header.jpg);
    height: 820px;
}
header a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-left: 5px;
}
header a:hover {
    color: #f96020;
}
header .dah {
    border-bottom: 1px solid #8d8d8d; 
}
header .dah > img:first-child {
    display: inline-block;
    margin: 30px;
    margin-left: 5%;
}
header .dah .head {
    display: inline-block;
    position: absolute;
    padding: 9px;
    width: 1000px;
    border-left: 1px solid #8d8d8d;
    border-right: 1px solid #8d8d8d;
}
header .dah .head > p {
    color: #ffffff;
    display: inline-block;
    margin-right: 215px;
}
header .dah .head .blog {
    display: inline-block;
    padding: 0;
}
header .dah .head .blog li {
    list-style: none;
    display: inline-block;
    position: relative;
}
header .dah .head .blog li a {
    text-decoration: none;
    padding: 5px 5px;
    width: 125px;
    display: block;
}
header .dah .head .blog li ul {
    display: none;
    position: absolute;
    padding-left: 0px;
    width: 130px;
    max-height: 100px;
    overflow: auto;
    overflow-x: hidden;
}
header .dah .head .blog li:hover ul {
    display: block;
}
header .dah .right {
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 3%;
} 
header .centr {
    width: max-content;
    margin-top: 200px;
    margin-left: 12%;
}
header .centr > p{
    font-size: 80px;
    color: white;
    font-weight: bold;
    width: 800px;
    margin: 0px;
}
header .centr > p:first-child{
    font-size: 50px;
    font-weight: normal;
    width: 450px;
}
section .one {
    margin-left: 10%;
    padding: 20px;
    position: relative;
    top: -115px;
}
section .one div {
    display: inline-block;
    background-color: #f96020;
    color: white;
    height: 300px;
    width: 220px;
    margin-right: 20px;
    padding: 20px;
}
section .one div h2:first-of-type {
    margin-top: 150px;
}
section .one div h2:last-of-type {
    font-weight: normal;
}
section .two {
    background-color: #f6f6f7;
    padding: 10px;
    height: 450px;
    margin-top: -50px;
}
section .two .eleven {
    margin-left: 10%;
    display: inline-block;
    width: 450px;
}
section .two h1 {
    font-size: 30px;
}
section .two h1:first-of-type {
    font-weight: normal;
}
section .two p {
    color: #8d98a1;
    font-size: 16px;
    text-align: left;
}
section .two p:first-child {
    color: #b7b9be;
    font-size: 16px;
}
section .two .twelve {
    display: inline-flex;
    float: right;
    margin-right: 5%;
}
section .two .twelve ul {
    list-style-image: url(imti.png);

}
section .two .twelve ul > li {
    padding: 5px;
}
section .three {
    text-align: center;
    margin: 20px;
}
section .three > p {
    color: #b7b9be;
}
section .three > div {
    display: inline-block;
    margin-left: 30px;
    text-align: left;
}
section .four {
    background-color: #f96020;
    height: 293px;
}
section .four > img {
    margin-left: 10%;
    float: left
}
section .four .tex {
    margin-left: 35%;
    width: 600px;
    color: white;
}
section .four .tex > p:first-child {
    font-size: 35px;
    padding-top: 30px;
}
section .four .tex > p:nth-child(2) {
    font-size: 35px;
    font-weight: bold;
}
section .four .syl {
    margin-left: 1200px;
}
section .four a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
section .four a:hover {
    color: black;
}
section .five {
    padding: 40px 0px 20px 0px;
}
section .five p {
    text-align: center;
    color: #b7b9be;
    font-weight: bold;
}
section .five > p:nth-child(2) {
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 35px;
}
section .five .sex {
    margin-left: 5%;
}
section .five .sex > div {
    background-color: #f6f6f7;
    width: 330px;
    height: 250px;
    margin: 30px;
    display: inline-block;
    padding: 20px;
}
section .five .sex > div p {
    text-align: left;
    font-weight: normal;
}
section .six {
    background-color: #1b242b;
    text-align: center;
    color: white;
}
section .six > p:first-child {
    color: #757981;
    padding-top: 50px;
}
section .six .led {
    font-size: 35px;
}
section .six .luk {
    display: inline-block;
}
section .six .luk > div {
    display: inline-block;
    width: 300px;
}
section .six .luk > div p:first-child {
    display: inline-block;
    padding-right: 10px;
    color: #f96020;
    font-size: 60px;
    font-weight: bold;
    border-right: 2px solid white;
}
section .six .luk > div p:last-child {
    display: inline-block;
    width: 125px;
    padding-left: 10px;
    font-size: 20px;
}
section .six .las {
    font-size: 0px;
}
section .six .las img {
    width: 25%;
}
section .seven {
    background-color: #f6f6f7;
    padding: 30px;
    height: 530px;
}
section .seven > p:first-child {
    text-align: center;
    color: #b7b9be;
    padding-top: 10px;
}
section .seven > p:nth-child(2) {
    text-align: center;
    font-size: 35px;
}
section .seven .ven > div {
    display: inline-block;
    background-color: white;
    width: 330px;
    height: 270px;
    padding: 20px;
    float: left;
    margin-left: 60px;
}
section .seven .ven > div:first-child {
    margin-left: 5%;
}
section .seven .ven > div p:nth-child(even) {
    color: #8d98a1;
}
section .eight {
    height: 300px;
    padding: 65px;
}
section .eight > img {
    display: inline-block;
    margin-left: 10%;
}
section .eight div {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
}
section .eight div p:first-child {
    font-size: 35px;
}
section .eight div p:nth-child(2) {
    font-size: 35px;
    color: #f96020;
}
section .eight div p:nth-child(3) {
    color:#8d98a1;
}
section .eight div button:last-child {
    background-color: #1b242b;
    margin-left: 50px;
}
section .eight div button:last-child:hover {
    background-color: #f96020;
}
section .nine {
    background-color: #f96020;
    height: 170px;
}
section .nine div{
    display: inline-block;
    margin: 50px;
    width: 350px;
}
section .nine div:first-child {
    margin-left: 5%;
}
section .nine div img {
    display: inline-block
}
section .nine div > p {
    display: inline-block;
    color: white;
    font-size: 15px;
    position: absolute;
    margin-left: 10px;
}
section .nine div > p:nth-child(odd) {
    margin-top: 40px;
}
footer {
    height: 150px;
    background-color: #19191a;
}
footer .foot {
    display: inline-block;
    width: 1100px;
    margin-top: 30px;
    margin-left: 10%;
}
footer .foot .kem {
    border-bottom: 1px solid #8d8d8d;
}
footer .foot .kem img {
    display: inline-block;
}
footer .foot .kem p {
    display: inline-block;
    color: #8d8d8d;
    border-left: 1px solid;
    padding-left: 20px;
    margin-left: 20px;
}
footer .foot .mek p {
    display: inline-block;
    color: #8d8d8d;
}
footer .foot .mek .pot {
    display: inline-block;
    margin-top: 10px;
    float: right;
}
footer a {
    text-decoration: none;
    color: white;
}